<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="link.css">
    <title>Shiva links</title>
</head>
<body>
    <div class="nav">
        <div class="logo">
            <img src="logo.png" alt="logo-image" id="om-logo">
        </div>
        <div class="menu">
            <a href="shiva-home.html">HOME</a>
            <a href="shiva-images.html">IMAGES</a>
            <a href="shiva-link.html">LINKS</a>
            <a href="shiva-form.html">SUGGESTION</a>
            <div>
                <!-- <form action="/find" method="post"> -->
                <input type="text" id="search" name="search">
                <button type="submit" for="search">Search</button>
                <!-- </form> -->
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col1">
            <img src="third-eye.png" alt="3rd-eye-image">
        </div>

        <div class="col2">
          <h2>Here are some cool link to know Shiva:</h2>
            <ol>
                <li><a href="https://www.youtube.com/watch?v=4IIZGJqXH7g">Who is Shiva and Why Does He Matter?</a></li>
                <li><a href="https://www.speakingtree.in/allslides/the-story-of-lord-shiva-birth">The story of Lord Shiva's birth</a></li>
                <li><a href="https://www.sanskritimagazine.com/12-manifestations-shiva/">12 Manifestations of Shiva</a></li>
                <li><a href="https://vedicfeed.com/lord-shiva-mantra-to-chant/">7 Powerful Lord Shiva Mantras You should Chant.</a></li>
                <li><a href="https://isha.sadhguru.org/us/en/wisdom/article/shiva-symbol">The symbols and symbolism of Shiva</a></li>
                <li><a href="https://isha.sadhguru.org/us/en/yoga-meditation">Learn Yoga and Meditation / Inner Engineering</a></li>
            </ol>
        </div>
    </div>
</body>
</html>
