<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="images.css">
    <title>Shiva Image Page</title>
</head>
<body>
<div class="nav">
    <div class="logo">
        <img src="logo.png" alt="logo-image" id="om-logo">
    </div>
    <div class="menu">
        <a href="shiva-home.html">HOME</a>
        <a href="shiva-images.html">IMAGES</a>
        <a href="shiva-link.html">LINKS</a>
        <a href="shiva-form.html">SUGGESTION</a>
        <div>
            <!-- <form action="/find" method="post"> -->
            <input type="text" id="search" name="search">
            <button type="submit" for="search">Search</button>
            <!-- </form> -->
        </div>
    </div>
</div>
<div class="container">
    <div class="shiva-image img1">
        <a href="https://www.kailash-mansarovaryatra.in/post/climbing-mount-kailash-can-we-climb-up-to-mount-kailash-is-it-allowed"><img src="kailash-mount.png" alt="kailash-image" class ="wide-image"></a><br>
        <label for="shiva-image">Kailash Mountain, the Adobe of Shiva </label>
    </div>
    <div class="shiva-image img2">
        <a href="https://www.learnreligions.com/what-is-shiva-linga-1770455"><img src="linga.png" alt="shiva-linga" class ="wide-image"></a><br>
        <label for="shiva-image">Shiva Linga</label>
    </div>

    <div class="shiva-image img3">
        <a href="https://www.istockphoto.com/photo/statue-of-meditating-hindu-god-shiva-on-the-ganges-river-at-rishikesh-village-in-gm1326779145-411356423"><img src="maditaion.png" alt="Tutorialspoint" class ="wide-image"></a><br>
        <label for="down-image">Shiva in Meditating State</label>
    </div>

    <div class="shiva-image img4">
        <a href="https://en.wikipedia.org/wiki/Adiyogi_Shiva_statue"><img src="biggest-statue.png" alt="adi-yogi-image" class ="down-image"></a><br>
        <label for="shiva-image">Shiva Adiyogi Statue</label>
    </div>



    <div class="shiva-image img5">
        <a href="https://doshidhrumit.blogspot.com/2016/08/great-god-shiva-outer-than-time.html"><img src="bigbang.png" alt="bigbang-shiva" class ="down-image"></a><br>
        <label for="down-image">Cosmos Shiva</label>
    </div>
</div>
</body>
</html>
